LINEWORKSBotReg.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}},"microsoftforms_Connection_Name":{"defaultValue":"microsoftforms","type":"String","metadata":{"description":"Name of the connection."}},"line-20works-5fe5ca6066800ced85-5fb895539c1c911a5b_Connection_Name":{"defaultValue":"line-20works-5fe5ca6066800ced85-5fb895539c1c911a5b","type":"String","metadata":{"description":"Name of the connection."}}},"resources":[{"type":"Microsoft.Logic/workflows","apiVersion":"2016-06-01","name":"[parameters('logicAppName')]","location":"[parameters('logicAppLocation')]","dependsOn":["[resourceId('Microsoft.Web/connections', parameters('microsoftforms_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('line-20works-5fe5ca6066800ced85-5fb895539c1c911a5b_Connection_Name'))]"],"properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"新しい応答が送信されるとき":{"splitOn":"@triggerBody()?['value']","metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateFormWebhook"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['microsoftforms']['connectionId']"}},"body":{"eventType":"responseAdded","notificationUrl":"@{listCallbackUrl()}","source":"ms-connector"},"path":"/formapi/api/forms/@{encodeURIComponent('wpmLLjNXUU6ky6WmmjtMwyp6HU1b6txAlNw0lphKtGhUOTQ2TUdTMFdORzBaQlNMSjNSOFhZM1ZOMC4u')}/webhooks","authentication":"@parameters('$authentication')"}}},"actions":{"応答の詳細を取得する":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetFormResponseById"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['microsoftforms']['connectionId']"}},"method":"get","path":"/formapi/api/forms('@{encodeURIComponent('wpmLLjNXUU6ky6WmmjtMwyp6HU1b6txAlNw0lphKtGhUOTQ2TUdTMFdORzBaQlNMSjNSOFhZM1ZOMC4u')}')/responses","queries":{"response_id":"@triggerBody()?['resourceData']?['responseId']"},"authentication":"@parameters('$authentication')"}},"Bot_の登録_1_(テナントに登録)":{"runAfter":{"応答の詳細を取得する":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"RegisterBotTenant"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['line-20works-5fe5ca6066800ced85-5fb895539c1c911a5b']['connectionId']"}},"method":"post","body":{"name":"@body('応答の詳細を取得する')?['r51dbde73102b499589164c5fd266b9fb']","photoUrl":"https://static.worksmobile.net/static/pwe/wm/devcenter/img_linebot.png","description":"@body('応答の詳細を取得する')?['rc9908b4c023745ddb1e8e2fe743b5d10']","managers":["@body('応答の詳細を取得する')?['rbe6128ef646e4b6ea1b95acf776a3877']"],"useGroupJoin":true,"useCallback":false},"headers":{"consumerKey":"xyQwY2gTBGL0wIqkKFwR","Content-Type":"application/json; charset=UTF-8"},"path":"/r/@{encodeURIComponent('jp1wmDGlTmgyw')}/message/v1/bot","authentication":"@parameters('$authentication')"}},"Bot_の登録_2_(ドメインに登録)":{"runAfter":{"JSON_の解析":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"RegisterBotDomain"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['line-20works-5fe5ca6066800ced85-5fb895539c1c911a5b']['connectionId']"}},"method":"post","body":{"usePublic":true,"usePermission":false},"headers":{"consumerKey":"xyQwY2gTBGL0wIqkKFwR","Content-Type":" application/json; charset=UTF-8"},"path":"/r/@{encodeURIComponent('jp1wmDGlTmgyw')}/message/v1/bot/@{encodeURIComponent(body('JSON_の解析')?['botNo'])}/domain/@{encodeURIComponent('10018057')}","authentication":"@parameters('$authentication')"}},"JSON_の解析":{"runAfter":{"Bot_の登録_1_(テナントに登録)":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('Bot_の登録_1_(テナントに登録)')","schema":{"type":"object","properties":{"botNo":{"type":"integer"}}}}},"メッセージ送信_(テキスト)":{"runAfter":{"Bot_の登録_2_(ドメインに登録)":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendMessage"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['line-20works-5fe5ca6066800ced85-5fb895539c1c911a5b']['connectionId']"}},"method":"post","body":{"content":{"type":"text","text":"@{body('応答の詳細を取得する')?['r51dbde73102b499589164c5fd266b9fb']} が登録されたよ。\\n Bot No: @{body('JSON_の解析')?['botNo']}"},"accountId":"@body('応答の詳細を取得する')?['rbe6128ef646e4b6ea1b95acf776a3877']"},"headers":{"Content-Type":" application/json","consumerKey":"xyQwY2gTBGL0wIqkKFwR"},"path":"/r/@{encodeURIComponent('jp1wmDGlTmgyw')}/message/v1/bot/@{encodeURIComponent(body('JSON_の解析')?['botNo'])}/message/push","authentication":"@parameters('$authentication')"}}}},"parameters":{"$connections":{"value":{"microsoftforms":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'microsoftforms')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('microsoftforms_Connection_Name'))]","connectionName":"[parameters('microsoftforms_Connection_Name')]"},"line-20works-5fe5ca6066800ced85-5fb895539c1c911a5b":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'line-20works-5fe5ca6066800ced85-5fb895539c1c911a5b')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('line-20works-5fe5ca6066800ced85-5fb895539c1c911a5b_Connection_Name'))]","connectionName":"[parameters('line-20works-5fe5ca6066800ced85-5fb895539c1c911a5b_Connection_Name')]"}}}},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":30},"collections":{"maximumItemCount":100000},"performanceProfile":{"throttles":{"mode":"Low"}},"retryPolicy":{"type":"Exponential","interval":"PT5M","count":2,"minimumInterval":"PT5M","maximumInterval":"PT1H"}}}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('microsoftforms_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'microsoftforms')]"},"displayName":"[parameters('microsoftforms_Connection_Name')]"}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('line-20works-5fe5ca6066800ced85-5fb895539c1c911a5b_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'line-20works-5fe5ca6066800ced85-5fb895539c1c911a5b')]"},"displayName":"[parameters('line-20works-5fe5ca6066800ced85-5fb895539c1c911a5b_Connection_Name')]"}}]}